* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: black;
}

.content {
    padding: 30px 30px;
    border-radius: 8px;
    background: #fff;
    display: flex;
    margin: auto;
    width: 873px;
    flex-direction: column;


    & .pai {
        display: flex;
        gap: 10px;
    }

    & .tio {
        display: flex;
        gap: 10px;
    }

    & .vo {
        display: flex;
        gap: 10px;
    }

    & .cidade {
        display: flex;
        gap: 10px;
    }

    & .rua {
        display: flex;
        gap: 10px;
    }

    h1 {
        padding: 30px 30px;
        font-size: 36px;
        font-weight: 400;
    }

    & .name {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        margin-bottom: 6px;
        width: 813px;
        height: 36px;

        & input {
            border: 0.5px solid #757575;
            border-radius: 6px;
            padding: 6px 10px;
        }

        & label {


            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;

        }
    }